.contato{
    background-color: #FFC700; /*cor do fundo*/
    width: 300px; /*largura */
    height: 300px; /* altura */
    border:4px double rgb(0, 0, 0);
    border-radius: 15px; /* raio da borda */
}

input[type=text],
textarea{
    width: 400px; /* largura */
    height: 30px; /* altura */
    border-radius: 15px; /* raio da borda */
    border: 1px solid rgb(0, 0, 0); /* borda */  
}

textarea{    
    height: 100px; /* altura */
    resize: none;  /* redimencionar */
}
input[type=submit]{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); /* cor de fundo */
    height: 35px; /* altura */
    width: 100px; /* largura */
    border: none; /* borda */
    cursor: pointer;     
    border-radius: 15px; /* raio da borda */
}
